.PostView {
  padding: 0px 0 20px 0;
}

.PostView-right {
  position: relative;
  right: 0;
  top: 1em;
  text-align: right;
}

.PostView-right i {
  margin-left: 1em;
}

.post {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}

.entry-meta {
  color: #838383;
}

.entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.entry-meta ul li:first-child {
  padding-right: 20px;
}

.entry-meta i {
  margin-right: 8px;
}

.entry-content p {
  line-height: 24px;
}

.entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
