.LogView {
  position: relative;
}

/* .LogView-right {
  position: absolute;
  right: 2em;
  top: 4em;
  text-align: right;
}

.LogView-right i {
  margin-left: 1em;
} */

.icon:hover {
  cursor: pointer;
}
